<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Betty Cropper</title>
	<link href="{{ STATIC_URL }}betty/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}betty/css/style.css" rel="stylesheet">
	</head>
	<body>
	<div class="body container-fluid">

		<nav id="search-nav" class="row" role="navigation">

			<div class="visible-xs">
				<div class="btn-group btn-group-lg pull-right">
					<a title="Toggle search" class="btn btn-default" data-toggle="collapse" data-target="#search-images">
						<span class="glyphicon glyphicon-search"></span>
					</a>
					<a data-toggle="modal" href="upload.html" title="Add new images" data-target="#upload-modal" class="btn btn-default">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
			</div>

			<form role="search" class="collapse col-sm-7" id="search-images">
				<div class="input-group">
					
					<div id="size-select" class="input-group-btn">
						<input type="hidden" name="size" id="size" value=""/>
						<button title="Select image sizes to search" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span data-bind="label">All sizes</span> 
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" data-title="all">All sizes</a></li>
							<li class="divider"></li>
							<li><a href="#" data-title="large">Large 
								<small class="pull-right text-muted">&gt; 1024px</small></a></li>
							<li><a href="#" data-title="medium">Medium
								<small class="pull-right text-muted">400 &ndash; 1024px</small></a></li>
							<li><a href="#" data-title="small">Small
								<small class="pull-right text-muted">&lt; 400px</small></a></li>
						</ul>
					</div>
					
					<input type="text" class="form-control" name="q" placeholder="{{ q|default:"Search titles..." }}">
					<span class="input-group-btn">
						<button title="Search for images" type="submit" class="btn btn-default ">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>

			<div class="hidden-xs col-sm-1 col-sm-offset-4">
				<a data-toggle="modal" href="upload.html" title="Add new images" data-target="#upload-modal" class="btn btn-primary pull-right">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</nav>
		<div id="results" class="row">

			<ul id="scroll" class="list-unstyled container-fluid media-list">

				{% for image in images %}
				<li class="col-xs-12 col-sm-3 col-md-2 media">

					<div class="pull-left">
						<a data-toggle="modal" href="crop.html" data-target="#crop-modal" class="img-thumbnail">
							<img src="/{{ image.id }}/1x1/180.jpg" alt="testing">
						</a>
					</div>

					<div id="detail-{{ image.id }}" class="details media-body">
						<dl class="small text-left">

							<dt class="">Name:</dt>
							<dd class="hide-overflow" title="{{ image.name }}">{{ image.name }}</dd>

							<dt class="">Credit:</dt>
							<dd class="">{{ image.credit }}</dd>

							<dt class="">Size:</dt>
							<dd class="">{{ image.width }} x {{ image.height }}</dd>

							<dt class="">Added:</dt>
							<dd class="hide-overflow" title="xxx">xxx</dd>

							<dt class="">Uploader:</dt>
							<dd class="hide-overflow" title="xxx">xxx</dd>

						</dl>
					</div>
				</li>
				{% endfor %}

			</ul>

			<ul id="pagination" class="pagination">

				{% if images.has_previous %}
				<li><a id="prev" href="?page={{ images.previous_page_number }}">&laquo;</a></li>
				{% endif %}

				{% if images.has_next %}
				<li><a id="next" href="?page={{ images.next_page_number }}">&raquo;</a></li>
				{% endif %}

			</ul>

		</div>
				

		<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<div class="modal fade" id="crop-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
				</div>
			</div>
		</div>
	</div>

	<script src="{{ STATIC_URL }}betty/js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}betty/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}betty/js/jquery.infinitescroll.min.js"></script>
	<script src="{{ STATIC_URL }}betty/js/index.js"></script>
	<script src="{{ STATIC_URL }}betty/js/upload.js"></script>
	</body>
</html>